html
    head
        title= title
    style
        include style.css
    body
        h1= h1
        br
        h2= 'Attending'
            hr
            each guest in attending
                div.item= guest
        br
        h2= 'Not Attending'
            hr
            each guest in notAttending
                div.item=guest

        
